<!DOCTYPE html>
<html lang="es">

<head>
  <title>Tu Zapatería: Gestión Pedidos</title>
  <th:block th:replace="~{fragments/general.html :: headerfiles}"></th:block>
</head>

<body>
    <div th:replace="~{fragments/general.html :: navigation}"> </div>
    <div class="container m-3">
        <form class="row"
            th:action="@{/pedidos/add}"
            th:object="${pedido}"
            method="post">
            <input type="number" name="id" hidden th:value="${pedido.id}" />
            <div class="mb-3">
                <label class="form-label" for="nombre">Nombre del pedido:</label>
                <input class="form-control" name="nombre" 
                    th:value="${pedido.nombre}" />
            </div>
            
            <div>
                <button class="btn btn-success mt-3" type="submit">Enviar</button>
            </div>
        </form>
    </div>
    <div th:replace="~{fragments/general.html :: footer}"></div>
</div>
</body>

</html>